*{
    margin: 0;
    padding: 0;  
}
body{
    background:lightgray;
    font-style: italic;
}
.container{
    width: 1200px;
    background: white;
    margin: 10px auto; 
}
.superior{
    background: #15dac9;
    overflow: hidden;
}
.logo{
    float: left;
    width: 300px;
    padding: 35px;
    
}
/*estilos para el menu*/
.menu{
    float:left;
    padding: 50px;
}
.opciones li{
    float: left;
    list-style: none;
}
.opciones li a{
    font-style: normal;
    font-family:Verdana;
    color: black;
    padding: 15px;
    text-decoration: none;
    border:1px solid black;
}
.opciones li a:hover{
    background: #ffffff;
}

/*estilos para el cuerpo*/
.cuerpo{
    overflow: hidden;
}
.caja{
    font-style: normal;
    font-family: Verdana;
    float:left;
    width: 380px;
    margin:8px;
    border: 1px solid;
}

.cajaregalo{
    font-style: normal;
    font-family: Verdana;
    float:left;
    width: 260px;
    margin:8px;
    border: 1px solid;
}

.reloj{
    font-style: normal;
    font-family: Verdana;
    text-align: center;
    width: 380px;
    margin:8px;
}

.subtitulo{
    background: rgb(223, 221, 221);
}
.servicios{
    color: black;
    text-align: center;
    padding: 15px 0;
}
.efecto:hover{
    opacity: 0.8;
    cursor: pointer;
}
.contenido{
    padding: 20px;
    text-align: justify;
}

.inforel{
    padding: 20px;
    text-align: center;
    font-style: normal;
    font-family:Verdana;
    font-size:medium;
}

.infonos{
    padding: 20px;
    background-color:lightblue;
    text-align: justify;
    font-style: normal;
    font-family:Verdana;
    font-size:medium;
}

.titulo{
    text-align: center;
    padding: 20px 0 15px 0;
    color: black;
    font-size: 35px;
}
/*estilos de footer*/
.pie{
    background: #15dac9;
    overflow: hidden;
}
.izquierda{
    float: left;
    width: 550px;
    padding: 20px;
}
.derecha{
    float: left;
    width: 550px;
    padding: 20px;
}
.abajo{
    color:black;
    font-style: normal;
    font-family: Verdana;
    text-align: justify;
    font-size: 12px;
    padding: 10px;
}
.siguenos{
    font-style: normal;
    font-family: Verdana;
    text-align:center ;
    color:black;
    padding: 15px 0 ;
}

.botonregresar{
    text-decoration: none;
    background-color:lightgray;
    font-family: Verdana;
    font-style: normal;
    color:black;
    padding: 15px;
    display:block;
    font-size:small;
    
}
.botonregresar:hover{
    background-color:#15dac9;
    color: white;
}